{{#each blogPosts as |post|}}
<div id="allPosts"></div>
    <article class="postCard">
        <div class="postHeader">
            <div class="postTitle"><a href="/posts/{{post.post_id}}">{{post.post_title}}</a></div>
            <div class="postUser">Posted by {{post.User.user_name}}</div>
        </div>
        <div class="postContent"> {{posts.post_content}}</div>
    </article>
    {{/each}}
</div>